<div class='container-fluid'>
  <div class='row header' ng-controller='HomeCtrl'>
    <nav class="navbar navbar-inverse navbar-no-bg">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#fuelergy-navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="fuelergy-navbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#features" du-smooth-scroll>Features</a></li>
            <li><a href="#about" du-smooth-scroll>About</a></li>
            <li><a href="#contact" du-smooth-scroll>Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class='inner'>
      <div class='container'>
        <div class='row-fluid'>
          <div class='col-sm-5 hidden-xs'>
            <img class='img-responsive' alt='Iphone Screen Shot' src='/images/iphone.png'>
          </div>
          <div class='col-xs-12 visible-xs text-center'>
            <img class='img-responsive img-center' alt='Iphone Screen Shot' src='/images/iphone.png'>
          </div>
          <div class='col-sm-7 promote hidden-xs'>
            <h1 class='promote_h1'>Fuelergy. Always know where the <strong>BEST</strong> gas is.</h1>
            <div class='desc'>
              <p>Filling up your gas tank no longer means emptying your wallets. Small gas prices. Big pockets. #Fuelergy #GetPumped</p>
            </div>
            <div class='download'>
              <a class='btn btn-info' href='{{ link }}'>Download it</a>
              <a class='btn btn-default' href='#features' du-smooth-scroll>Learn More</a>
            </div>
            <div class='platforms'>
              <i class='fa fa-apple'></i>
              <i class='fa fa-android'></i>
              <i class='fa fa-windows'></i>
            </div>
          </div>
          <div class='col-xs-12 promote visible-xs text-center'>
            <h1 class='promote_h1'>Fuelergy. Always know where the <strong>BEST</strong> gas is.</h1>
            <div class='desc'>
              <p>Filling up your gas tank no longer means emptying your wallets. Small gas prices. Big pockets. #Fuelergy #GetPumped</p>
            </div>
            <div class='download'>
              <a class='btn btn-info' href='{{ link }}'>Download it</a>
              <a class='btn btn-default' href='#features' du-smooth-scroll>Learn More</a>
            </div>
            <div class='platforms'>
              <i class='fa fa-apple'></i>
              <i class='fa fa-android'></i>
              <i class='fa fa-windows'></i>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>
  <div class='row features' id='features'>
    <div class='container'>
      <div class='row-fluid'>
        <div class='col-xs-12 text-center'>
          <h1 class='promote_h1'>Fuelergy's Features</h1>
        </div>
      </div>
      <div class='row-fluid'>
        <div class='col-xs-12 text-center'>
          <span class='feature-hr'></span>
        </div>
      </div>
      <div class='row-fluid'>
        <div class='col-xs-12 text-center'>
          <p>Fuelergy strives for bringing you not just only the closest and cheapest gas, but doing it in a way that is easy for you, the customer. The entire reason that we exist is to make your life easier.</p>
        </div>
      </div>
      <div class='row-fluid text-center margin-top-40'>
        <div class='col-sm-4'>
          <div class='row feature'>
            <i class='fa fa-eye fa-4x'></i>
            <h1 class='promote_h1'>Easy to Use</h1>
            <p>Fuelergy is made simple to be simple. Fuelergy helps you understand what you're getting, and how you're getting there.</p>
          </div>
          <div class='row feature'>
            <i class='fa fa-thumbs-o-up fa-4x'></i>
            <h1 class='promote_h1'>Precise Results</h1>
            <p>Don't deal with inconsistent results. Get what you need, when you need, and know that you have the right answer.</p>
          </div>
        </div>
        <div class='col-sm-4 text-center'>
          <img class='img-responsive' alt='Iphone Screen Shot' src='/images/iphone.png'>
        </div>
        <div class='col-sm-4'>
          <div class='row feature'>
            <i class='fa fa-fighter-jet fa-4x'></i>
            <h1 class='promote_h1'>Fast Results</h1>
            <p>Waiting to get gas because your app is slow? Not cool. Fuelergy = speed. Get your results fast like woah.</p>
          </div>
          <div class='row feature'>
            <i class='fa fa-users fa-4x'></i>
            <h1 class='promote_h1'>Community Driven</h1>
            <p>Fuelergy prices and results are driven by you, the customers. The more users use Fuelergy, the better it becomes. It's like skynet, but completely different.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='row roadmap' id='about' ng-controller='AboutCtrl'>
    <div class='container'>
      <div class='row-fluid text-center'>
        <div class='col-xs-12'>
          <h1 class='promote_h1'>
            The vision of fuelergy is to create a world of stress free traveling.
          </h1>
        </div>  
      </div>
      <div class='row-fluid text-center'>
        <div class='col-xs-12'>
          <h3>Meet our awesome team</h3>
        </div>  
      </div>
      <div class='row-fluid text-center'>
        <div class='col-sm-4 col-xs-12 col-sm-offset-1 profile' ng-repeat='user in users track by $index'>
          <img ng-src='/images/{{ user.pic }}.png' alt='{{ user.title }} Closeup' class='img-circle img-responsive margin-top-bottom-15' />
          <div class='name'>
            <h3>{{ user.name }}</h3>
          </div>
          <div class='social'>
            <a href='https://twitter.com/{{ user.handle }}' target='_blank' class='twitter'><i class='fa fa-twitter fa-2x'></i></a>
            <a href='https://linkedin.com/in/{{user.linkedin}}' target='_blank' class='linkedin'><i class='fa fa-linkedin fa-2x'></i></a>
            <a href='https://github.com/{{user.github}}' target='_blank' class='github'><i class='fa fa-github fa-2x'></i></a>
          </div>
          <div class='description well'>
            {{ user.description }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='row contact' ng-controller='ContactCtrl' id='contact'>
    <div class='container'>
      <div class='row-fluid text-center'>
        <div class='col-xs-12'>
          <h1 class='promote_h1'>Contact us</h1>
        </div>  
      </div>
      <div class='row-fluid text-center'>
        <div class='col-xs-12'>
          <h3 class='promote_h3'>Got anything to say? Feature requests, bug reports, general inquisition? Contact us right away!</h3>
        </div>  
      </div>
      <div class='row-fluid'>
        <div class='col-sm-6 col-xs-12'>
          <h3>Send us a message</h3>
          <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
          <form ng-submit='submitContact()' ng-if='alerts.length == 0'>
            <div class='form-group'>
              <label for='contactEmail'>
                Email
              </label>
              <input type='email' class='form-control' placeholder='Email...' id='contactEmail' required ng-model='contact.email'>
            </div>
            <div class='form-group'>
              <label for='contactSubject'>
                Subject
              </label>
              <select class='form-control' id='contactSubject' ng-model='contact.subject'>
                <option>Feature Request</option>
                <option>Bug Report</option>
                <option>General</option>
              </select>
            </div>
            <div class='form-group'>
              <label for='contactMessage'>
                Message
              </label>
              <textarea class='form-control' placeholder='Message...' required ng-model='contact.message'></textarea>
            </div>
            <div class='form-group'>
              <button class='btn btn-info'>Send Message</button>
            </div>
          </form>
        </div>
        <div class='col-sm-6 col-xs-12'>
          <h3>Contact Details</h3>
          <h4>
            <i class='fa fa-map-marker'></i> 6 Meadowgrass Ct, Gaithersburg, MD
          </h4>
          <h4>
            <i class='fa fa-phone'></i> Phone: 650-453-8124
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
